<h1>Make an Appointment </h1>

<%= form_with(model: [@doctor, @appointment], local: true, class: "ui form") do |f| %>
  <%= f.label :client %>
  <%= f.label :role %>
  <%= f.select :role, ['teacher', 'student'] %>
  <%= f.submit nil, class: "fluid ui yellow button" %>
<% end %>
